@charset "UTF-8";
:root {
  --primary-text-colour: #757575;
  --secondary-text-colour: #212121;
  --button-background-colour: #2196F3;
  --secondary-button-colour: #FFFFFF;
  --time-function: 250ms;
  --bezier-functiion: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-colour);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navList,
.advantageList,
.workList,
.teamList,
.contactList,
.pageFooterAddress__list,
.portfolioNav,
.portfolioList,
.clientsList,
.cotialeList,
.pageFooterCotial__list,
.mobileNav__list,
.mobileContact,
.mobileCotiale {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

input {
  padding: 0;
  margin: 0;
}

form {
  display: block;
}

button {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.pageFooterCotial__list {
  margin-top: 16px;
  gap: 10px;
  display: flex;
}

.pageFooterCotial__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: background-color;
}
.pageFooterCotial__link:hover, .pageFooterCotial__link:focus {
  background-color: var(--button-background-colour);
}

.pageFooterCotial__icon {
  fill: #FFFFFF;
}
.pageFooterCotial__icon:hover, .pageFooterCotial__icon:focus {
  fill: white;
}

@media screen and (min-width: 1200px) {
  .container.addres-container {
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    background-color: red;
  }
}

.pageFooterCotial {
  display: block;
  margin-left: 70px;
}

.pageFooterCotial__title {
  font-style: normal;
  font-weight: 700;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footerModal__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footerForm {
  display: flex;
  margin-top: 20px;
}

.footerForm__input {
  margin-right: 12px;
  padding-left: 16px;
  height: 50px;
  width: 358px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: border;
}
.footerForm__input:hover, .footerForm__input:focus {
  border: 1px solid var(--button-background-colour);
}

.footerForm__button {
  display: flex;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  align-items: center;
  justify-content: center;
  background: #2196F3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: background-color, box-shadow;
}
.footerForm__button:hover, .footerForm__button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footerForm__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(47, 48, 58, 0.4);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: var(--bezier-functiion);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modalForm {
  flex-direction: column;
  width: 100%;
}

.modalLable__input {
  margin-bottom: 10px;
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: color;
}
.modalLable__input:hover, .modalLable__input:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.modalLable__input:hover + .modalLable__icon, .modalLable__input:focus + .modalLable__icon {
  fill: var(--button-background-colour);
}

.modalForm__button {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  color: #FFFFFF;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: background-color, box-shadow;
}
.modalForm__button:hover {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modalLable__coments {
  margin-top: 4px;
  width: 370px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: border;
}
.modalLable__coments:hover, .modalLable__coments:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modalLable__coments {
    width: 448px;
  }
}

.modalLable__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modalForm__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modalForm__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modalCheck {
  margin-bottom: 30px;
}

.modalCheck__title {
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .modalCheck__title {
    display: flex;
    font-size: 14px;
    line-height: 24px;
  }
}

.modalCheck__link {
  text-decoration: underline;
}

.modalLable {
  position: relative;
}
.modalLable:not(:last-child) {
  margin-bottom: 10px;
}
.modalLable:last-child {
  margin-bottom: 20px;
}

.modalLable__icon {
  position: absolute;
  bottom: 23px;
  left: 14px;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: fill;
}

.modalCheck__text {
  margin-right: 7px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: fill, background-color;
}
.modalCheck__input:checked + .modalCheck__title .modalCheck__text {
  border-color: transparent;
  background-color: var(--button-background-colour);
  background-image: url(../imeges/icons.svg/ok.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modalCheck__link {
  margin-left: 7px;
}
.modalCheck__link:visited {
  color: var(--button-background-colour);
}

.modal {
  position: absolute;
  width: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--bezier-functiion);
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__button {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: fill;
}
.modal__button:hover, .modal__button:focus {
  fill: var(--button-background-colour);
}

.menuButton {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menuButton {
    display: none;
  }
}

.menuButton__icon {
  fill: #212121;
  width: 24px;
  height: 24px;
}

.menuButton__icon--close {
  width: 19px;
  height: 19px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.navList,
.contactList {
  display: flex;
}

.mainNav {
  display: flex;
}

.navContainer {
  display: flex;
}

.pageHeader {
  display: flex;
}

.contactList {
  display: none;
}
@media screen and (min-width: 768px) {
  .contactList {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .contactList {
    margin-left: auto;
  }
}

.navList {
  display: none;
}
@media screen and (min-width: 768px) {
  .navList {
    margin-left: 94px;
    display: flex;
  }
}

.navList__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .contactList__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mainNav__logo--blue {
  color: var(--button-background-colour);
}

.mainNav__logo {
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--secondary-text-colour);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.navList__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-colour);
  font-size: 14px;
  line-height: 1.1;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: color;
}
.navList__link:hover, .navList__link:focus {
  color: var(--button-background-colour);
}

.contactList__item {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .contactList__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navList___item {
  position: relative;
}
.navList___item:not(:last-child) {
  margin-right: 50px;
}

.navList__link--Active {
  color: var(--button-background-colour);
}
.navList__link--Active::after {
  content: " ";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #2196F3;
  border-radius: 2px;
  bottom: -1px;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: color;
}

.contactList__link {
  align-items: center;
  display: flex;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  color: var(--primary-text-colour);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-duration: color;
}
.contactList__link:hover, .contactList__link:focus {
  color: var(--button-background-colour);
}
.contactList__link:hover .contactList__icon, .contactList__link:focus .contactList__icon {
  fill: currentColor;
}

.pageHeader {
  border-bottom: 1px solid #ECECEC;
}

.contactList__icon {
  fill: #757575;
  display: flex;
  margin-right: 10px;
}

.hero {
  text-align: center;
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/bcg-mobile-min.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/bcg-tablet-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imeges/bcg-min.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-button-colour);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 1.9;
  border: none;
  letter-spacing: 0.06em;
  background-color: var(--button-background-colour);
  cursor: pointer;
  border-radius: 5px;
  color: var(--secondary-button-colour);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: background-color;
}
.hero__button:hover, .hero__button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.advantageSection {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantageSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .advantageSection {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantageList__title {
  margin-bottom: 10px;
  color: var(--secondary-text-colour);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.advantageList__subtitle {
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-text-colour);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .advantageList__item {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantageList__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantageList__item {
    width: 270px;
  }
}

@media screen and (min-width: 480px) {
  .advantageList {
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantageList {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantageList {
    display: flex;
  }
}

.advantageList__container {
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.advantageList__icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  fill: #212121;
}

.workSection {
  padding-top: 0;
  padding-bottom: 94px;
}
@media (max-width: 1199px) {
  .workSection {
    display: none;
  }
}

.workSection__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-text-colour);
}

.workList {
  display: flex;
  gap: 30px;
}

.workList__item {
  position: relative;
}

.workList__subtitle {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
}

.teamList__item {
  width: 450px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .teamList__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .teamList__item {
    padding-top: 94px;
    padding-bottom: 94px;
    width: 270px;
  }
}

.personCard {
  padding-top: 24px;
  padding-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .personCard {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.teamSection {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .teamSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .teamSection {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background-color: #F5F4FA;
  }
}

.teamSection__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--secondary-text-colour);
}

.personCard__title {
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-colour);
  letter-spacing: 0.03em;
}

.personCard__subtitle {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-colour);
  letter-spacing: 0.03em;
}

.teamList {
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .teamList .teamList__photo {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .teamList {
    display: flex;
    flex-wrap: wrap;
  }
  .teamList .teamList__photo {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .teamList {
    display: flex;
  }
  .teamList .teamList__photo {
    width: 270px;
    height: 260px;
  }
}

.cotialeList__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--secondary-button-colour);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: background-color;
}
.cotialeList__link:hover, .cotialeList__link:focus {
  background-color: var(--button-background-colour);
}

.cotialeList__icon {
  fill: #AFB1B8;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: fill;
}
.cotialeList__link:hover .cotialeList__icon, .cotialeList__link:focus .cotialeList__icon {
  fill: #EEEEEE;
}

.cotialeList {
  margin-top: 16px;
  gap: 10px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .clientsSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .clientsSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clientsSection {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  }
}

.clientsList__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: fill;
}
.clientsList__link:hover .clientsList__icon, .clientsList__link:focus .clientsList__icon {
  fill: var(--button-background-colour);
}

.clientsList {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .clientsList {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .clientsList {
    flex-wrap: wrap;
  }
}
.clientsList__link {
  align-items: center;
  justify-content: center;
  outline: transparent;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: solid;
}
.clientsList__link:hover, .clientsList__link:focus {
  border: 1px solid var(--button-background-colour);
  fill: var(--button-background-colour);
}
@media screen and (min-width: 480px) {
  .clientsList__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clientsList__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clientsList__link {
    width: 170px;
    height: 92px;
  }
}

@media screen and (min-width: 480px) {
  .portfolioSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .portfolioSection {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolioSection {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolioNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolioNav {
    margin-bottom: 40px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolioNav {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolioCard__photo {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .portfolioCard__photo {
    width: 354px;
    height: 294px;
  }
}

.portfolioNav__item {
  margin-bottom: 15px;
}

.portfolioNav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolioNav__button {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: background-color, color, box-shadow;
}
.portfolioNav__button:hover {
  background-color: var(--button-background-colour);
  color: var(--secondary-button-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolioNav__button:focus {
  background-color: var(--button-background-colour);
  color: var(--secondary-button-colour);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolioProject__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-colour);
}

.portfolioProject__subtitle {
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-colour);
}

.portfolioProject {
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 768px) {
  .portfolioProject {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolioProject {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.portfolioList {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.portfolioList__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolioList__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolioList__item {
    width: 370px;
  }
  .portfolioList__item:nth-child(3n) {
    margin-right: 0;
  }
}

.portfolioList__link {
  outline: transparent;
  display: block;
}
.portfolioList__link:hover, .portfolioList__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolioList__link:hover .portfolioCard__overlay, .portfolioList__link:focus .portfolioCard__overlay {
  transform: translateY(0);
}

/*======================== ПОРТФОЛИО ОВЕРЛЕЙ =========================*/
.portfolioCard {
  overflow: hidden;
  position: relative;
}

.portfolioCard__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioCard__overlayText {
  display: inline-flex;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.pageFooter {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.pageFooter__logo {
  margin-bottom: 20px;
  display: block;
  font-family: "Raleway", sans-serif;
  color: var(--secondary-button-colour);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.pageFooterAddress {
  font-style: normal;
}

.address-title {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-button-colour);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: color;
}
.address-title:hover, .address-title:focus {
  color: var(--button-background-colour);
}
.address-title:visited {
  color: #FFFFFF;
}

.pageFooter__link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: var(--time-function);
  transition-timing-function: var(--bezier-functiion);
  transition-property: color;
}
.pageFooter__link:hover, .pageFooter__link:focus {
  color: #2196F3;
}

.pageFooter__itemAdress {
  margin-bottom: 9px;
}

.pageFooter__itemMail {
  margin-bottom: 9px;
}

.pageFooter__linkAddress:visited {
  color: #FFFFFF;
}

.mobileNav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobileNav__link--Active {
  color: #2196F3;
}

.mobileNav___item:not(:last-child) {
  margin-bottom: 35px;
}

.mobileCotial__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobileNav {
  margin-bottom: 100px;
}

.mobileContact {
  margin-bottom: 64px;
}

.mobileContact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobileCotiale {
  display: flex;
}

.mobileCotial__item {
  padding-right: 10px;
  padding-left: 10px;
}

.mobileCotial__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobileContact__link {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobileContact__link--blue {
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobileContact__link:visited {
  color: red;
}/*# sourceMappingURL=main.css.map */