:root {
    --primary-text-colour: #757575;
    --secondary-text-colour: #212121;
    --button-background-colour: #2196F3;
    --secondary-button-colour: #FFFFFF;
    --time-function: 250ms;
    --bezier-functiion: cubic-bezier(0.4, 0, 0.2, 1);

}