.portfolioSection {
    @include padding-section;

}

.portfolioNav {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
}

.portfolioNav__item:not(:last-child) {
    margin-right: 8px;
}

.portfolioNav__button {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: none;
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.03em;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-property: background-color, color, box-shadow;

        &:hover {
            background-color: var(--button-background-colour);
            color: var(--secondary-button-colour);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    
        }
        &:focus {
            background-color: var(--button-background-colour);
            color: var(--secondary-button-colour);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }

}



.portfolioProject__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-colour);
}

.portfolioProject__subtitle {
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primary-text-colour);
}

.portfolioProject {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;

    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.portfolioList {

    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.portfolioList__item {
    width: 370px;

    &:nth-child(3n) {
        margin-right: 0;
        }
}

.portfolioList__link {
    outline: transparent;
    display: block;

    &:hover,
    &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

                &:hover .portfolioCard__overlay,
                &:focus .portfolioCard__overlay {
                    transform: translateY(0);
                }
}





/*======================== ПОРТФОЛИО ОВЕРЛЕЙ =========================*/

.portfolioCard {

    overflow: hidden;
    position: relative;
}

.portfolioCard__overlay {


    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolioCard__overlayText {

    display: inline-flex;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;


    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}