.pageFooterCotial__list {
    justify-content: center;
    margin-top: 16px;
    gap: 10px;

    display: flex;
}


.pageFooterCotial__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-property: background-color;

    &:hover,
    &:focus {
            background-color: var(--button-background-colour);
        }

}

.pageFooterCotial__icon {
    fill: #FFFFFF;

    &:hover,
    &:focus {
            fill: white;
        }
}


.container.addres-container {
    display: flex;
    flex-direction: column;
    text-align: center;


    @media screen and(min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        }


    @media screen and(min-width:1200px) {
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
    }
}

.pageFooterCotial {
    margin-top: 60px;

    text-align: center;

    @media screen and(min-width:768px) {
        margin-top: 0;
        }

    @media screen and(min-width:1200px) {
        display: block;
        margin-left: 70px;
        margin-top: 0;
    }

}

.pageFooterCotial__title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
