.menuButton{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;

    &:hover,
    &:focus {
            fill: #2196F3;
        }

    @media screen and(min-width:768px) {
            display: none;
        }
           

}

.menuButton__icon{
    width: 24px;
    height: 24px;
}

.menuButton__icon--close{
    width: 19px;
    height: 19px;

    
}