.modalForm {

    flex-direction: column;

    width: 100%;

}

.modalLable__input {
    margin-bottom: 10px;
    margin-top: 4px;


    padding-left: 42px;
    height: 40px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: none;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: color;

    &:hover,
    &:focus {
            border: 1px solid #2196F3;
            border-radius: 4px;
        }
                &:hover+.modalLable__icon,
                &:focus+.modalLable__icon {
                    fill: var(--button-background-colour);
                }
}


.modalForm__button {

    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: background-color, box-shadow;

    &:hover {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}



.modalLable__coments {
    margin-top: 4px;

    width: 448px;
    height: 120px;

    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 12px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: transparent;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: border;

    &:hover,
    &:focus {
            border: 1px solid #2196F3;
            border-radius: 4px;
        }
}



.modalLable__title {



    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #757575;
}

.modalForm__title {


    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.modalCheck {
    margin-bottom: 30px;

}

.modalCheck__title {
    display: flex;
    align-items: center;

    justify-content: center;


    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;


}

.modalCheck__link {
    text-decoration: underline;
}

.modalLable {
    position: relative;
    &:not(:last-child) {
            margin-bottom: 10px;
        }
    &:last-child {
            margin-bottom: 20px;
        }
}





.modalLable__icon {
    position: absolute;
    bottom: 23px;
    left: 14px;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: fill;
}







.modalCheck__text {
    margin-right: 7px;

    display: inline-block;


    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-duration: fill, background-color;

    .modalCheck__input:checked+.modalCheck__title & {
            border-color: transparent;
            background-color: var(--button-background-colour);
            background-image: url(../imeges/icons.svg/ok.svg);
            background-repeat: no-repeat;
            background-position: center;
    
        }
}



.modalCheck__link {
    margin-left: 7px;
    &:visited {
        color: var(--button-background-colour);
        }
}

