.modal {
    position: absolute;
    width: 528px;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 41px;
    padding-right: 39px;

    top: 50%;
    left: 50%;


    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--bezier-functiion);

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}



.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);

}

.modal__button {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;


    cursor: pointer;

    padding: 10px 10px 10px 10px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;

    transition-duration: var(--time-function);
    transition-timing-function: var(--bezier-functiion);
    transition-property: fill;

    &:hover,
    &:focus {
        fill: var(--button-background-colour);
    
        }

}

