body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-colour);
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navList,
.advantageList,
.workList,
.teamList,
.contactList,
.pageFooterAddress__list,
.portfolioNav,
.portfolioList,
.clientsList,
.cotialeList,
.pageFooterCotial__list {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

input {
    padding: 0;
    margin: 0;
}

form {
    display: block;
}

button {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}